---
---

<footer class='bg-black flex justify-center gap-1 text-white p-6'>
  <h2 class='hidden'>Footer</h2>
   <p class='poppins'>
    Copyright © Neta DAO | Powered by 
   </p>
   <a href='https://akash.network/' title='Akash Netwrok' class='flex Justify-normal gap-1 items-center'>
    <img src="/akashd.svg" height="20px" />
   </a>
</footer>

